language: python

sudo: required

services:
  - docker

env:
  global:
    - DOCKER_PROJECT=wodby
    - IMAGE_NAME=drupal-php
    - secure: J636lOAmg/NiJA6qQ/MmQsxviLBWcVp34+jcmUv0m6VQQ8bkjIuQwqEJwPUIDXkUO15s6eVqLsznKUNzcoCQYz5xvlNAK9v9fOZKOb4v7vrBoQpfTyp5hVwBVIMj2IZmpYVCZFhvh2YTHQoGT+SemYOqMH+ohzffgrDCv9BJpMZ4GOdxAJETXzE6JffW+TI8KoH2kDIGOiVNPalaOyCRCkCEqlz7ubJZHjujus2Ij9+fnIa5JmBKfKf8FuOq34PGYPxT80jFuQ3FQdgYL1laTBwf8Z00vlkc4rA39pUN+POJU1gXCVFZdGpG8LAbX0RuenDiWTGtVzPtha42MZt83NPR49kd40Vi0GD3B0FOFO8YjyRV1lUGhYmD+yf4QBB6MvApUP9Fmx/jZRSUkkGWlTI4vZSqB8PLpNWB8hlSRu3pmoAKmHhtnbnFZUHxNNc385Owhs3HuVCnjdYixQ2yeZrlVcHhQG/UjhpzL5PhktfF45bCo1MNFss4G+GATyJ9XNBT0yEqyJ/IMmxfk/3V9tILK/J8EvAGnhKEX4BRPmmPTrLrMK+1wgZmSuc0r8dLArmloBQqSoRGbOqLBQKt59Cezk2Adq5LiKmJ5HzooMIx85y4rFHZhS216EQ/n2W1LgfYfw6GYmW1y0iqYDU9CgUnV+nU8pBYzXIpOUPdiKM=
    - secure: tur+tqyzq/yFN4qyUsMjOeFWaNuRX4Qu4h7/GEQCnmUCBpzqJm3YHorocTfdONhifdppj1WrQQemBxm1yBu2j++FCoySvqfziraWfSespkTrATeMU6Fi8WzCFkMAuyngkA5VXls5ed5yskUp3NycqPA5SQW2uYrdFwO2cHZr0/K7vATADvIppapBWd5Jqwqgl+x+oNZ1HTFV/7XYMhj52LgWIDG4XMdV11FvIB5f8yXsn1pyWst53BNS7xhwBxlQHXdsprpPmwVOmOi649XaPWwzTuGoPON28/ORE+un5Gsp7qHMxT7q6Bmk3p9NEKNdHfWId2Q9sCB6pBJiEPVkhWDnw9FZ65DCm00C4M/Ruo2f26I9yv0/aLA4cwEzXWnBikUSYwQtLe1tD6wlgSn+VVyDSal0YPtJbTyKe85vXWVxQkEB00cBvunF1hdCVkDjJQW/mEC3fy8iM+ao1q2vLOzv+HEKmZRhj83K3AjlzRmaNVo2+Xa1JvGL2DHGzctf6zNRJAJ24IGuplcEA7cXBPwpDezX7KojBOXpA8fT7Ilrjgn5uxrrk29tkjPUZou6Y8LKoIKfOPS44qsyKiJ0xOleH/WAw/TbYYZDuOubcpSN5SdXED5zgQ6O39GqP0T1v+3jFRbZaam/fwxloMfBhUw6PKckoE0ZIu3Nr8EE69k=
  matrix:
    - PHP_VER=5.6
    - PHP_VER=7.0

install:
  - docker build -t php ./$PHP_VER/.
  - docker run -d --name=php php

script:
  - docker ps | grep -q php
  - docker run --user=82 php php -v | grep "PHP $PHP_VER"
  - docker run --user=82 php pwd | grep "/var/www/html"
  - docker run --user=82 php composer --version
  - docker run --user=82 php drush version
  - docker run --user=82 php drupal --version

after_success:
  - |
    docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    docker build --rm=false -t $DOCKER_PROJECT/$IMAGE_NAME:$PHP_VER ./$PHP_VER/.
    if [ -n "$TRAVIS_TAG" ]; then
      docker tag $DOCKER_PROJECT/$IMAGE_NAME:$PHP_VER $DOCKER_PROJECT/$IMAGE_NAME:$PHP_VER-$TRAVIS_TAG
      docker push $DOCKER_PROJECT/$IMAGE_NAME:$PHP_VER-$TRAVIS_TAG
    fi
    if [ "$TRAVIS_BRANCH" == "master"]; then
      docker push $DOCKER_PROJECT/$IMAGE_NAME:$PHP_VER
      if [ "$PHP_VER" == "7.0" ]; then
        docker tag $DOCKER_PROJECT/$IMAGE_NAME:$PHP_VER $DOCKER_PROJECT/$IMAGE_NAME:latest
        docker push $DOCKER_PROJECT/$IMAGE_NAME:latest
      fi
    fi

after_failure:
  - docker logs php
