name: Build docker image

on:
  push:
    branches:
      - master
      - 4.x

    tags:
      - '*'

  pull_request:

env:
  BASE_IMAGE_STABILITY_TAG: 4.66.6

jobs:
  build:
    strategy:
      matrix:
        php: [ '8.5', '8.4', '8.3', '8.2' ]
        arch:
          - amd64
          - arm64
        variant:
          - { dev: '', dev_macos: '' }
          - { dev: 'dev', dev_macos: '' }
          - { dev: '', dev_macos: 'dev-macos' }
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build and push
        env:
          PHP_VER: ${{ matrix.php }}
          ARCH: ${{ matrix.arch }}
          PHP_DEV: ${{ matrix.variant.dev }}
          PHP_DEV_MACOS: ${{ matrix.variant.dev_macos }}
        run: |
          make
          make test
          make push

  push:
    runs-on: ubuntu-latest
    needs:
      - build
    strategy:
      matrix:
        php: [ '8.5', '8.4', '8.3', '8.2' ]
        variant:
          - { dev: '', dev_macos: '' }
          - { dev: 'dev', dev_macos: '' }
          - { dev: '', dev_macos: 'dev-macos' }
        include:
          - php: '8.5'
            latest: 'latest'
            latest_major: '8'
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: ./.github/actions
        with:
          version: ${{ matrix.php }}
          dev: ${{ matrix.variant.dev }}
          dev_macos: ${{ matrix.variant.dev_macos }}
          latest: ${{ matrix.latest }}
          latest_major: ${{ matrix.latest_major }}
